<h1>Welcome, {{username}}</h1>

<a href="/logout">Logout</a>

<form action="/addnoun" method="post">
  <label for="noun">Noun</label>
  <input type="text" name="word">
</form>
<form action="/addverb" method="post">
  <label for="noun">Verb</label>
  <input type="text" name="word">
</form>
<form action="/addadj" method="post">
  <label for="noun">Adjectives</label>
  <input type="text" name="word">
</form>


<form class="fablibsBox" action="/translate" method="post">
  <input type="text" name="fablibs">
</form>

<p>
  {{output}}
</p>
